.DS_Store
*.xcodeproj/xcuserdata/*
*.xcodeproj/project.xcworkspace/xcuserdata/*
MUKitMaster/MUKitMaster.xcodeproj/project.xcworkspace/xcuserdata/*
MUKitMaster/MUKitMaster.xcodeproj/xcuserdata/yuriybosov.xcuserdatad/xcdebugger/*
